*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #7f7f7f;
    background-color: #fff;
    position: relative;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.rdw-editor-main {
  height: 60% !important;
}

