.replies-body {
    background-color: rgba(0,0,0,0.3);
    /* border: solid 1px rgba(255,255,255,0.15); */
    /* padding: 1em; */
    flex: 1 1;
    color: rgba(255,255,255,0.8);
    z-index: auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
    word-break: break-word;
    margin-left: 52px;
    margin-bottom: 40px;
}

.reply-content {
    margin-top: .5em;
    line-height: 1.6;
    padding: 0em 11px 0.25em 11px;
    color: rgba(255,255,255,0.8);
}

.reply {
    background-color: rgba(0,0,0,0.3);
    border: solid 1px rgba(255,255,255,0.15);
    padding: .5em;
}