

.reply-container {
    max-width: 740px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
    border: 1px solid #F1F1F1;
}

.reply-area {
    margin: 0 auto;
    padding: 5px 15px;
    box-sizing: border-box;
    height: calc(100% - 11px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reply-to {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.show-preview {
    height: auto;
}

.reply-to .reply-details {
    max-width: calc(100% - 175px);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.reply-to .composer-action-title {
    display: inline-flex;
    align-items: center;
    width: auto;
    max-width: 100%;
}

.reply-icon {
    display: inline-flex;
    min-width: auto;
    border: none;
}

.reply-to .composer-action-title .action-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toolbar-visible {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.editor {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.editor-container {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
}

.submit-panel {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.reply-button, .cancel-button, .preview-button {
    display: inline-flex;
    align-items: center;
    transition: color 200ms, fill 200ms, background-color 200ms, border-color 200ms;
    font-weight: 400;
    padding: 7px 42px;
    line-height: normal;
    white-space: nowrap;
    outline: none;
    text-transform: none !important;
}

.cancel-button {
    padding: 7px 35px;
}

.reply-button:hover, .cancel-button:hover {
    cursor: pointer;
}

.cancel-button {
    color: black;
}