.top-section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-sections {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.bottom-section, .small-posts-section, .bottom-section-container {
    width: 100%;
}

@media only screen and (min-width: 370px) {
    .bottom-section-container div:not(:last-child), .top-section-container div:not(:last-child) {
        margin-right: 10px;
    }
}