.blog-posts-container div:not(:last-child) {
    margin-right: 10px;
}

.blog-posts-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

category-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}